<div class="navbar-default navbar-static-side" role="navigation">
    <h3><%= sysConfig.systemAdmin %></h3>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <!--<a href="<%= sysConfig.systemAdmin %>/dashboard">-->
                <a href="">
                    <i class="fa fa-dashboard fa-fw"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="<%= sysConfig.systemAdmin %>/items">
                    <i class="fa fa-dashboard fa-fw"></i> CRUD
                </a>
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>