<% 
    paginationHelper = (paramsPagination) => { 

        let totalItem   = paramsPagination.totalItem;
        let totalPage   = Math.ceil(totalItem / paramsPagination.itemPerPage);
        let itemPerPage = paramsPagination.itemPerPage;
        let currentPage = paramsPagination.currentPage
        let to          = itemPerPage * currentPage;
        let from        = to - itemPerPage + 1;

        if(to > totalItem) to = totalItem;

        let xhtmlPagination     = '';
        let xhtmlStart          = '<li class="disable"><a>Start</a></li>';
        let xhtmlPrevious       = '<li class="disable"><a>Previous</a></li>';
        let xhtmlNext           = '';
        let xhtmlPage           = '';
        let xhtmlEnd            = '';
        let link                = sysConfig.systemAdmin + '/items/';

        if(currentPage > 1) {
            xhtmlStart = `<li><a href="${link}?page=1">Start</a></li>`;
            xhtmlPrevious = `<li><a href="${link}?page=${currentPage-1}">Previous</a></li>`;
        }

        xhtmlPagination = '<ul class="pagination text-center">' + xhtmlStart + xhtmlPrevious + xhtmlNext + xhtmlPage + xhtmlEnd + '</ul>';

        return `
            <div class="panel panel-info" id="pagination">
                <div class="panel-heading">
                    Pagination
                    <span class="label label-warning">Total pages: ${totalPage}</span>
                    <span class="label label-danger">Total entries: ${totalItem}</span>
                </div>
                <div class="panel-body">
                    <div class="infor-pagination">
                        <p>Number of elements on the page:
                            <span>${itemPerPage}</span>
                        </p>
                        <p>Showing
                            <span> ${from} </span> to
                            <span> ${to} </span> of
                            <span>${totalItem}</span> entries</p>
                    </div>
                    <div class="ad-pagination">
                        ${xhtmlPagination}
                    </div>
                </div>
            </div>
        `; 
    }
%>