<% statusHelper = (status, link) => { %> 
    <a href="#">
        <% if (status == 'active') { %>             
                <span class="label label-success">active</span>
        <% }else { %>        
                <span class="label label-danger">inactive</span>
        <% } %>
    </a>
<% }%>